{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="d-flex flex-row">
    <div class="col-md-2"></div>
    <div class="d-flex flex-column post">

        <div class="text-center">
            <img src="https://lh3.google.com/u/0/d/10rjhbFkWxz4Mke47yo1JmBOfkPfj2mS_=w1920-h937-iv1" alt="Avatar" width="200" height="200" style="border-radius: 50%; margin-top: 20px;">
        </div>
        <!-- the actual blog post: title/author/date/content -->
        <h1 style="text-align: center;">Background</h1>
        <div>

            <p>
                I am a sports professional with experience in software development and working with technology.
                Because of my background, I have concluded professional and personal research in Esports.
                This is where I was able to observe unmatched human and technological performance since 2012.
                While studying in 2017 my interest shifted towards areas such as AI/ML, data processing, data analysis, software development, and 3D.
                Since then I have been programming and reading code daily to learn new technologies and approaches to solving real-life problems with computation.
            </p>

            <h2 style="text-align: center;">Projects</h2>
            <p>
                In 2015 I have started a project called "ZdrowiGracze" (eng. HealthyGG) which is promoting a holistic and analytic approach to fitness and health within gaming communities specifically aimed at improving performance.
                While doing so I have conducted theoretical and practical experiments to optimize esports performance by using traditional sports methodology. Researched ways in which technology highly available in esports for potential implementation within traditional sports practice.
                The goal of the aforementioned was to discover new and more effective ways of athlete's practice in all known sports.
                This led me to be a part of some of the biggest Esports events in the world interviewing international athletes.
            </p>

            <h2 style="text-align: center;">Check my -> <a href="https://drive.google.com/file/d/1yucFDw74tDBomHwDNU2LjIguvp82v525/preview" target="_blank">Experience</a></h2>
        </div>
    </div>
    <div class="offset-md-2"></div>
</div>

<!-- <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script> -->

{% endblock content %}